<?php
# Si quieres utilizar una IP concreta en tu servidor, sustituye "localhost" por la IP deseada
$servername = "localhost"; 
$username = "extagram_admin";
$password = "pass123";
$dbname = "extagram_db";
?>
