**Credenciales de la base de datos:**
- **Usuario:** extagram_admin
- **Contraseña:** pass123
- **Base de datos:** extagram_db


## Credenciales

**Usuario:** `bchecker`  
**Contraseña:** `bchecker121`
