version: '3.8'

services:
  
  s1-proxy:
    build: ./Balancer
    container_name: s1-proxy
    ports:
      - "80:80"
    volumes:
      - ./Balancer/balancer.conf:/usr/local/apache2/conf/extra/balancer.conf
    depends_on:
      - s2-app
      - s3-app
      - s4-upload
    networks:
      - net-proxy
      - net-app
      - net-vpn    

  
  s2-app: &node_base
    build: ./Nodes
    container_name: s2-app
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./html:/var/www/html
      - ./uploads:/var/www/html/uploads
    networks:
      - net-app
      - net-db

  s3-app:
    <<: *node_base
    container_name: s3-app

  s4-upload:
    <<: *node_base
    container_name: s4-upload

 
  s5-images:
    image: httpd:2.4
    container_name: s5-images
    volumes:
      - ./uploads:/usr/local/apache2/htdocs/imatges_grup1:ro
    networks:
      - net-vpn    

  s6-static:
    image: httpd:2.4
    container_name: s6-static
    volumes:
      - ./html:/usr/local/apache2/htdocs:ro
    networks:
      - net-app


  s7-db:
    image: mariadb:10.6
    container_name: s7_database
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql   
      - ./BBDD/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - net-db     


networks:
  net-proxy:    
    driver: bridge
  net-app:      
    driver: bridge
  net-db:       
    driver: bridge
  net-vpn:      
    driver: bridge


volumes:        
  db_data:      
